.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
}

#logo {
    width: 60px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.nav>form {
    width: fit-content;
    display: flex;
    align-items: center;
}

form>input {
    height: 40px;
    min-width: 300px;
    width: 40%;
    font-size: 14pt;
    background-color: rgb(10, 9, 9);
    border: none;
    color: rgb(28, 255, 58);
    border-radius: 4px;
    padding: 0 5px;
}

form>button {
    height: 40px;
    padding: 5px;
    background-color: rgb(28, 255, 58);
    color: black;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}

form>button:hover {
    background-color: rgb(68, 255, 93);
}