@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import './colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
}
