@import '../../styles/colors.scss';

.btn {
  border-radius: 4px;
  border: none;
  font-size: inherit;
  padding: 3px 10px;
  background-color: rgb(5, 102, 182);
  color: white;
  cursor: pointer;

  &.danger-bg {
    background-color: $danger;
  }
}
