.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: rgb(0, 132, 204);
    color: white;
    width: 100%;
}

@media screen and (max-width: 300px) {
    .nav {
        padding: 10px 20px;
    }
    .nav__logo {
        font-size: 1rem;
    }
    .nav__info {
        font-size: 0.8rem;
    }
}