@import '../../styles/colors.scss';

.input-container {
  position: relative;

  input {
    border-radius: 5px;
    border: none;
    padding: 6px 10px;
    width: 300px;
    max-width: 95%;
    font-size: inherit;

    &:focus {
      outline: none;
    }
  }

  .input-error {
    background-color: rgba(240, 248, 255, 0.596);
    color: $danger;
    padding: 2px 3px;
    position: absolute;
    bottom: -21px;
    left: 0px;
    font-size: 9pt;
    display: block;
  }
}
